<link id="fa-stylesheet" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.0.0/css/all.min.css">

<footer class="site-footer">
  <div class="wrapper" style="text-align: center;">
    <p>
      Maintained by 
      <a href="https://github.com/aishakarigar" target="_blank">@aishakarigar</a>
    </p>
    <p>
      <a href="https://www.linkedin.com/in/aisha-karigar/" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://github.com/aishakarigar" target="_blank"><i class="fab fa-github"></i></a>
    </p>
  </div>
</footer>
